<div>
  <button {{action onTransitionToRoute "cookbook"}}>Transition To (routeName)</button>
  <button {{action onTransitionToUrl "/cookbook"}}>Transition To (URL)</button>
</div>
<div>
  <button {{action onTransitionToExternalRoute "cookbook"}}>Transition To External (routeName)</button>
  <button {{action onTransitionToExternalUrl "/cookbook"}}>Transition To External (URL)</button>
</div>
<div>
  <button {{action onPrivateTransitionRoute "cookbook"}}>Private Transition To (routeName)</button>
  <button {{action onPrivateTransitionUrl "/cookbook"}}>Private Transition To (URL)</button>
</div>
